<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SAMP - Software Engineering</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SAMP - Software Engineering</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1fe30ee362d24f34ba348b7682370490.png" alt="SAMP - Software Engineering" usemap="#id-1fe30ee362d24f34ba348b7682370490map"/>
			   <map name="id-1fe30ee362d24f34ba348b7682370490map">
				          <area shape="rect" coords="2000,82,2084,106" href="../objects/id-6039b939fc0b451db36d29234d97da83.html" target="element" >
				          <area shape="rect" coords="2000,154,2084,178" href="../objects/id-3d112ba461024eeeb711f8d93140a81c.html" target="element" >
				          <area shape="rect" coords="2000,118,2084,142" href="../objects/id-6a14383f7fbf4ff0871d14915d67c2e5.html" target="element" >
				  		<area shape="rect" coords="2060,820,2180,875" href="../elements/id-146b55fc11064458a9adee768530a1cc.html"  target="element">
				  		<area shape="rect" coords="692,730,812,785" href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html"  target="element">
				  		<area shape="rect" coords="1640,676,1760,731" href="../elements/id-9207659a8d0a45d4b1bb005cdedd33d6.html"  target="element">
				  		<area shape="rect" coords="1280,862,1400,917" href="../elements/id-08eaf2c291bc49f5b205e0d257495417.html"  target="element">
				  		<area shape="rect" coords="1088,862,1208,917" href="../elements/id-779f11cdce834d56a6b557c311625f67.html"  target="element">
				  		<area shape="rect" coords="884,862,1004,917" href="../elements/id-b1afbf7c492d4b548b88ad1149bb1c4d.html"  target="element">
				  		<area shape="rect" coords="692,862,812,917" href="../elements/id-0d204d64aa66412a910083b00be231e1.html"  target="element">
				  		<area shape="rect" coords="500,862,620,917" href="../elements/id-1f3e2f1197b949d99242f60093563e81.html"  target="element">
				  		<area shape="rect" coords="308,862,428,917" href="../elements/id-30b93f798047458d94497d4b77a88480.html"  target="element">
				  		<area shape="rect" coords="80,862,200,917" href="../elements/id-c3b03db5d83547c0b6f13d31a53d54eb.html"  target="element">
				  		<area shape="rect" coords="1580,136,1700,191" href="../elements/id-9eb2a5d910254da3bb6741aebb76ca8f.html"  target="element">
				  		<area shape="rect" coords="1172,364,1292,419" href="../elements/id-9e15d18ca224499ebe66bd59a0567aa9.html"  target="element">
				  		<area shape="rect" coords="1172,292,1292,347" href="../elements/id-7217ec7f3a4e4bd1803bd4506c5125f3.html"  target="element">
				  		<area shape="rect" coords="1172,220,1292,275" href="../elements/id-6a569df0d3c64761b8ea63a5c04c017f.html"  target="element">
				  		<area shape="rect" coords="1136,136,1256,191" href="../elements/id-61d089dba7054328b00dc5831d9e5b6a.html"  target="element">
				  		<area shape="rect" coords="1352,136,1472,191" href="../elements/id-f3e966f1988447839044c1f34643752c.html"  target="element">
				  		<area shape="rect" coords="1640,820,1760,875" href="../elements/id-497758e6d24548e6b71029fdce110a15.html"  target="element">
				  		<area shape="rect" coords="296,220,416,275" href="../elements/id-d7418bcfb19d42e5acc318e857cd7e6f.html"  target="element">
				  		<area shape="rect" coords="296,292,416,347" href="../elements/id-ced3772373fc4ef1a20ff82d9a4ec2dc.html"  target="element">
				  		<area shape="rect" coords="260,136,380,191" href="../elements/id-294a44502f064cb6aa0447c314834ff2.html"  target="element">
				  		<area shape="rect" coords="752,292,872,347" href="../elements/id-a3ff809d6ab941c1946d5998d712a64d.html"  target="element">
				  		<area shape="rect" coords="752,220,872,275" href="../elements/id-ed772963fa794698a70c95c3be7e79ea.html"  target="element">
				  		<area shape="rect" coords="716,136,836,191" href="../elements/id-e2200b9c698b4214bbe9831ea83fd214.html"  target="element">
				  		<area shape="rect" coords="955,442,1075,497" href="../elements/id-7aed90bdc0174820be817288feaa54fd.html"  target="element">
				  		<area shape="rect" coords="955,364,1075,419" href="../elements/id-3b2ed4ad72a14166aa2f7ba96df79ae7.html"  target="element">
				  		<area shape="rect" coords="956,292,1076,347" href="../elements/id-a9e1162cbf9e4cbe9d739cacc8af283e.html"  target="element">
				  		<area shape="rect" coords="956,220,1076,275" href="../elements/id-7804720b62e943b8a353e2272ddb2dae.html"  target="element">
				  		<area shape="rect" coords="920,136,1040,191" href="../elements/id-34ac23fe04db46939ce2344b2ca9f3d5.html"  target="element">
				  		<area shape="rect" coords="1772,460,1892,515" href="../elements/id-d5771460307c4c56bc9f0e1417fecfb6.html"  target="element">
				  		<area shape="rect" coords="524,220,644,275" href="../elements/id-ab5e6a29d83b457196bb3542f9cbdeb8.html"  target="element">
				  		<area shape="rect" coords="1640,460,1760,515" href="../elements/id-c6d27b8e1b9445b185774efc4af9f325.html"  target="element">
				  		<area shape="rect" coords="524,586,644,641" href="../elements/id-452607835367435b9b833d480b623459.html"  target="element">
				  		<area shape="rect" coords="524,292,644,347" href="../elements/id-f5eb25c06a0a48bca027107e0dee4b64.html"  target="element">
				  		<area shape="rect" coords="524,514,644,569" href="../elements/id-fd0e1aba511d4c21bd8d31b46b574548.html"  target="element">
				  		<area shape="rect" coords="2048,460,2168,515" href="../elements/id-17dd4d98eb834cd6af8eb0faf123facc.html"  target="element">
				  		<area shape="rect" coords="524,442,644,497" href="../elements/id-71f17e88b10e40d49af491789c8569ab.html"  target="element">
				  		<area shape="rect" coords="1772,388,1892,443" href="../elements/id-e11e603d426d45bdaceda4e0b598b207.html"  target="element">
				  		<area shape="rect" coords="1640,388,1760,443" href="../elements/id-55acbeba901b466caff31b4179feaf50.html"  target="element">
				  		<area shape="rect" coords="524,370,644,425" href="../elements/id-6d559cc5e0ab4b9e8d61e84f8ca6a6fd.html"  target="element">
				  		<area shape="rect" coords="476,136,596,191" href="../elements/id-c9ddf0613c3e47a49b10019494180076.html"  target="element">
				  		<area shape="rect" coords="2048,676,2168,731" href="../elements/id-8b6efc3b4f974e089999fdec73afd0be.html"  target="element">
				  		<area shape="rect" coords="1640,532,1760,587" href="../elements/id-5d30d2e1ba4340f8820f3ccd9862ce59.html"  target="element">
				  		<area shape="rect" coords="2192,388,2312,443" href="../elements/id-cc4db9ad63a846539d2329ec39dd733e.html"  target="element">
				  		<area shape="rect" coords="2048,388,2168,443" href="../elements/id-cc7e6bd85adc433fba2140a30fea8714.html"  target="element">
				  		<area shape="rect" coords="90,472,210,527" href="../elements/id-729d374aa0ad438090501362e88bf5a5.html"  target="element">
				  		<area shape="rect" coords="91,388,211,443" href="../elements/id-aa801dc21cda4f29a936a20edbbd54b1.html"  target="element">
				  		<area shape="rect" coords="92,304,212,359" href="../elements/id-e85b87421b464fdda3d88a464bce6ce8.html"  target="element">
				  		<area shape="rect" coords="92,220,212,275" href="../elements/id-a545dbbcc3f14539b474267f8c1c1134.html"  target="element">
				  		<area shape="rect" coords="56,136,176,191" href="../elements/id-36975d3519a84af78e9c90abfb1e8c7d.html"  target="element">
				  		<area shape="rect" coords="716,10,836,77" href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
											    <td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36975d3519a84af78e9c90abfb1e8c7d.html" target="element"> SAMP-Compras </a> </td>
											    <td> <a href="../elements/id-36975d3519a84af78e9c90abfb1e8c7d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a545dbbcc3f14539b474267f8c1c1134.html" target="element"> SAMP-Lista de precios (link) </a> </td>
											    <td> <a href="../elements/id-a545dbbcc3f14539b474267f8c1c1134.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e85b87421b464fdda3d88a464bce6ce8.html" target="element"> SAMP-Proveedores </a> </td>
											    <td> <a href="../elements/id-e85b87421b464fdda3d88a464bce6ce8.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aa801dc21cda4f29a936a20edbbd54b1.html" target="element"> SAMP-Ordenes de compra </a> </td>
											    <td> <a href="../elements/id-aa801dc21cda4f29a936a20edbbd54b1.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729d374aa0ad438090501362e88bf5a5.html" target="element"> SAMP-Pedidos de Importacion (link) </a> </td>
											    <td> <a href="../elements/id-729d374aa0ad438090501362e88bf5a5.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cc7e6bd85adc433fba2140a30fea8714.html" target="element"> APC </a> </td>
											    <td> <a href="../elements/id-cc7e6bd85adc433fba2140a30fea8714.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cc4db9ad63a846539d2329ec39dd733e.html" target="element"> Importaciones </a> </td>
											    <td> <a href="../elements/id-cc4db9ad63a846539d2329ec39dd733e.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5d30d2e1ba4340f8820f3ccd9862ce59.html" target="element"> Fletes </a> </td>
											    <td> <a href="../elements/id-5d30d2e1ba4340f8820f3ccd9862ce59.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b6efc3b4f974e089999fdec73afd0be.html" target="element"> INA </a> </td>
											    <td> <a href="../elements/id-8b6efc3b4f974e089999fdec73afd0be.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c9ddf0613c3e47a49b10019494180076.html" target="element"> SAMP-Operacion </a> </td>
											    <td> <a href="../elements/id-c9ddf0613c3e47a49b10019494180076.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d559cc5e0ab4b9e8d61e84f8ca6a6fd.html" target="element"> SAMP-Bascula patios (FFCC) </a> </td>
											    <td> <a href="../elements/id-6d559cc5e0ab4b9e8d61e84f8ca6a6fd.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55acbeba901b466caff31b4179feaf50.html" target="element"> Clasificacion Patios </a> </td>
											    <td> <a href="../elements/id-55acbeba901b466caff31b4179feaf50.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e11e603d426d45bdaceda4e0b598b207.html" target="element"> Clasificacion Patios App </a> </td>
											    <td> <a href="../elements/id-e11e603d426d45bdaceda4e0b598b207.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-71f17e88b10e40d49af491789c8569ab.html" target="element"> SAMP-Clasificacion (link) </a> </td>
											    <td> <a href="../elements/id-71f17e88b10e40d49af491789c8569ab.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17dd4d98eb834cd6af8eb0faf123facc.html" target="element"> Agenda Compradores </a> </td>
											    <td> <a href="../elements/id-17dd4d98eb834cd6af8eb0faf123facc.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fd0e1aba511d4c21bd8d31b46b574548.html" target="element"> SAMP-Boletas </a> </td>
											    <td> <a href="../elements/id-fd0e1aba511d4c21bd8d31b46b574548.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f5eb25c06a0a48bca027107e0dee4b64.html" target="element"> SAMP-Revision de vehiculos </a> </td>
											    <td> <a href="../elements/id-f5eb25c06a0a48bca027107e0dee4b64.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-452607835367435b9b833d480b623459.html" target="element"> SAMP-Fletes (link) </a> </td>
											    <td> <a href="../elements/id-452607835367435b9b833d480b623459.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c6d27b8e1b9445b185774efc4af9f325.html" target="element"> Pre-Registro App </a> </td>
											    <td> <a href="../elements/id-c6d27b8e1b9445b185774efc4af9f325.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ab5e6a29d83b457196bb3542f9cbdeb8.html" target="element"> SAMP-Registro (link) </a> </td>
											    <td> <a href="../elements/id-ab5e6a29d83b457196bb3542f9cbdeb8.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d5771460307c4c56bc9f0e1417fecfb6.html" target="element"> Registro App </a> </td>
											    <td> <a href="../elements/id-d5771460307c4c56bc9f0e1417fecfb6.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-34ac23fe04db46939ce2344b2ca9f3d5.html" target="element"> SAMP-Embarques </a> </td>
											    <td> <a href="../elements/id-34ac23fe04db46939ce2344b2ca9f3d5.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7804720b62e943b8a353e2272ddb2dae.html" target="element"> SAMP-Ordenes de carga </a> </td>
											    <td> <a href="../elements/id-7804720b62e943b8a353e2272ddb2dae.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9e1162cbf9e4cbe9d739cacc8af283e.html" target="element"> SAMP-Deuda de fabricaciones </a> </td>
											    <td> <a href="../elements/id-a9e1162cbf9e4cbe9d739cacc8af283e.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3b2ed4ad72a14166aa2f7ba96df79ae7.html" target="element"> SAMP-Pedidos de PT </a> </td>
											    <td> <a href="../elements/id-3b2ed4ad72a14166aa2f7ba96df79ae7.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7aed90bdc0174820be817288feaa54fd.html" target="element"> SAMP-Traspasos Interplantas </a> </td>
											    <td> <a href="../elements/id-7aed90bdc0174820be817288feaa54fd.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e2200b9c698b4214bbe9831ea83fd214.html" target="element"> SAMP-Produccion </a> </td>
											    <td> <a href="../elements/id-e2200b9c698b4214bbe9831ea83fd214.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ed772963fa794698a70c95c3be7e79ea.html" target="element"> SAMP-Admon Produccion </a> </td>
											    <td> <a href="../elements/id-ed772963fa794698a70c95c3be7e79ea.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a3ff809d6ab941c1946d5998d712a64d.html" target="element"> SAMP-Cierre mensual </a> </td>
											    <td> <a href="../elements/id-a3ff809d6ab941c1946d5998d712a64d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-294a44502f064cb6aa0447c314834ff2.html" target="element"> SAMP-Inventarios </a> </td>
											    <td> <a href="../elements/id-294a44502f064cb6aa0447c314834ff2.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ced3772373fc4ef1a20ff82d9a4ec2dc.html" target="element"> SAMP-Ajustes </a> </td>
											    <td> <a href="../elements/id-ced3772373fc4ef1a20ff82d9a4ec2dc.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7418bcfb19d42e5acc318e857cd7e6f.html" target="element"> SAMP-PEPS </a> </td>
											    <td> <a href="../elements/id-d7418bcfb19d42e5acc318e857cd7e6f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-497758e6d24548e6b71029fdce110a15.html" target="element"> True Cost </a> </td>
											    <td> <a href="../elements/id-497758e6d24548e6b71029fdce110a15.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3e966f1988447839044c1f34643752c.html" target="element"> SAMP-Admon y Ventas </a> </td>
											    <td> <a href="../elements/id-f3e966f1988447839044c1f34643752c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61d089dba7054328b00dc5831d9e5b6a.html" target="element"> SAMP-Pagos </a> </td>
											    <td> <a href="../elements/id-61d089dba7054328b00dc5831d9e5b6a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a569df0d3c64761b8ea63a5c04c017f.html" target="element"> SAMP-Anticipos </a> </td>
											    <td> <a href="../elements/id-6a569df0d3c64761b8ea63a5c04c017f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7217ec7f3a4e4bd1803bd4506c5125f3.html" target="element"> SAMP-Pago automatico </a> </td>
											    <td> <a href="../elements/id-7217ec7f3a4e4bd1803bd4506c5125f3.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9e15d18ca224499ebe66bd59a0567aa9.html" target="element"> SAMP-Sobrepago </a> </td>
											    <td> <a href="../elements/id-9e15d18ca224499ebe66bd59a0567aa9.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9eb2a5d910254da3bb6741aebb76ca8f.html" target="element"> SAMP-Comercio Exterior </a> </td>
											    <td> <a href="../elements/id-9eb2a5d910254da3bb6741aebb76ca8f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c3b03db5d83547c0b6f13d31a53d54eb.html" target="element"> SAMP-Precios Chatarra (link) </a> </td>
											    <td> <a href="../elements/id-c3b03db5d83547c0b6f13d31a53d54eb.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-30b93f798047458d94497d4b77a88480.html" target="element"> SAMP-Micrositios </a> </td>
											    <td> <a href="../elements/id-30b93f798047458d94497d4b77a88480.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1f3e2f1197b949d99242f60093563e81.html" target="element"> SAMP-AMM </a> </td>
											    <td> <a href="../elements/id-1f3e2f1197b949d99242f60093563e81.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0d204d64aa66412a910083b00be231e1.html" target="element"> SAMP-Importacion MP (link) </a> </td>
											    <td> <a href="../elements/id-0d204d64aa66412a910083b00be231e1.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b1afbf7c492d4b548b88ad1149bb1c4d.html" target="element"> SAMP-True Cost (link) </a> </td>
											    <td> <a href="../elements/id-b1afbf7c492d4b548b88ad1149bb1c4d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-779f11cdce834d56a6b557c311625f67.html" target="element"> SAMP-Utileris </a> </td>
											    <td> <a href="../elements/id-779f11cdce834d56a6b557c311625f67.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-08eaf2c291bc49f5b205e0d257495417.html" target="element"> SAMP-Avisor </a> </td>
											    <td> <a href="../elements/id-08eaf2c291bc49f5b205e0d257495417.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9207659a8d0a45d4b1bb005cdedd33d6.html" target="element"> SAMP-SIMP </a> </td>
											    <td> <a href="../elements/id-9207659a8d0a45d4b1bb005cdedd33d6.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
											    <td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-146b55fc11064458a9adee768530a1cc.html" target="element"> Reportes IMMEX </a> </td>
											    <td> <a href="../elements/id-146b55fc11064458a9adee768530a1cc.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-6a14383f7fbf4ff0871d14915d67c2e5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6a14383f7fbf4ff0871d14915d67c2e5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3d112ba461024eeeb711f8d93140a81c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3d112ba461024eeeb711f8d93140a81c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6039b939fc0b451db36d29234d97da83.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6039b939fc0b451db36d29234d97da83.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-31a5b505132a4da5876346107686bfe5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31a5b505132a4da5876346107686bfe5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
																		<td> <a href="../elements/id-36975d3519a84af78e9c90abfb1e8c7d.html" target="element"> SAMP-Compras </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-61af418f188c433ba70125b93a11d1e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61af418f188c433ba70125b93a11d1e0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
																		<td> <a href="../elements/id-294a44502f064cb6aa0447c314834ff2.html" target="element"> SAMP-Inventarios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-69a4f8371fd34be29a2ebd9a2da7bb2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-69a4f8371fd34be29a2ebd9a2da7bb2b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
																		<td> <a href="../elements/id-c9ddf0613c3e47a49b10019494180076.html" target="element"> SAMP-Operacion </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f3b5fcdef17e479fb31722a71f2d4c8f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3b5fcdef17e479fb31722a71f2d4c8f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
																		<td> <a href="../elements/id-e2200b9c698b4214bbe9831ea83fd214.html" target="element"> SAMP-Produccion </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fd598ec6d9fb4444b027a14eb1026aa3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd598ec6d9fb4444b027a14eb1026aa3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
																		<td> <a href="../elements/id-34ac23fe04db46939ce2344b2ca9f3d5.html" target="element"> SAMP-Embarques </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2d644444c21c4269a8b3bef9c48e2be0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2d644444c21c4269a8b3bef9c48e2be0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
																		<td> <a href="../elements/id-61d089dba7054328b00dc5831d9e5b6a.html" target="element"> SAMP-Pagos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2fba6497d81f41dd8a3dac631deb886c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2fba6497d81f41dd8a3dac631deb886c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
																		<td> <a href="../elements/id-f3e966f1988447839044c1f34643752c.html" target="element"> SAMP-Admon y Ventas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2f897da513eb4622a77c7cfe3b6b61e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f897da513eb4622a77c7cfe3b6b61e1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
																		<td> <a href="../elements/id-9eb2a5d910254da3bb6741aebb76ca8f.html" target="element"> SAMP-Comercio Exterior </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7412e82aa5804a5092426262d901b85f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7412e82aa5804a5092426262d901b85f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-36975d3519a84af78e9c90abfb1e8c7d.html" target="element"> SAMP-Compras </a> </td>
																		<td> <a href="../elements/id-a545dbbcc3f14539b474267f8c1c1134.html" target="element"> SAMP-Lista de precios (link) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed4264de73de4c19ab8f74f2bfa2b198.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed4264de73de4c19ab8f74f2bfa2b198.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-36975d3519a84af78e9c90abfb1e8c7d.html" target="element"> SAMP-Compras </a> </td>
																		<td> <a href="../elements/id-e85b87421b464fdda3d88a464bce6ce8.html" target="element"> SAMP-Proveedores </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-52d75a98263747c8a4de61bf6d44416b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-52d75a98263747c8a4de61bf6d44416b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-36975d3519a84af78e9c90abfb1e8c7d.html" target="element"> SAMP-Compras </a> </td>
																		<td> <a href="../elements/id-aa801dc21cda4f29a936a20edbbd54b1.html" target="element"> SAMP-Ordenes de compra </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8fb92778549445baa53ef4dc56402ded.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fb92778549445baa53ef4dc56402ded.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-36975d3519a84af78e9c90abfb1e8c7d.html" target="element"> SAMP-Compras </a> </td>
																		<td> <a href="../elements/id-729d374aa0ad438090501362e88bf5a5.html" target="element"> SAMP-Pedidos de Importacion (link) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a49a989f75a64aed957eb27b40709624.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a49a989f75a64aed957eb27b40709624.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ddf0613c3e47a49b10019494180076.html" target="element"> SAMP-Operacion </a> </td>
																		<td> <a href="../elements/id-6d559cc5e0ab4b9e8d61e84f8ca6a6fd.html" target="element"> SAMP-Bascula patios (FFCC) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9e327e2281dc41c4b77068fd422c5ed8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e327e2281dc41c4b77068fd422c5ed8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ddf0613c3e47a49b10019494180076.html" target="element"> SAMP-Operacion </a> </td>
																		<td> <a href="../elements/id-71f17e88b10e40d49af491789c8569ab.html" target="element"> SAMP-Clasificacion (link) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9e58768b12ea47e9a33692f2febc5edb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e58768b12ea47e9a33692f2febc5edb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ddf0613c3e47a49b10019494180076.html" target="element"> SAMP-Operacion </a> </td>
																		<td> <a href="../elements/id-fd0e1aba511d4c21bd8d31b46b574548.html" target="element"> SAMP-Boletas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c7c2169e476a467ba080785b7a92ab36.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c7c2169e476a467ba080785b7a92ab36.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ddf0613c3e47a49b10019494180076.html" target="element"> SAMP-Operacion </a> </td>
																		<td> <a href="../elements/id-f5eb25c06a0a48bca027107e0dee4b64.html" target="element"> SAMP-Revision de vehiculos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-380c1f3866bd4782acbc8b1c952c47b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-380c1f3866bd4782acbc8b1c952c47b1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ddf0613c3e47a49b10019494180076.html" target="element"> SAMP-Operacion </a> </td>
																		<td> <a href="../elements/id-452607835367435b9b833d480b623459.html" target="element"> SAMP-Fletes (link) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b14f71abf8094e8db99475f20641c0c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b14f71abf8094e8db99475f20641c0c8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ddf0613c3e47a49b10019494180076.html" target="element"> SAMP-Operacion </a> </td>
																		<td> <a href="../elements/id-ab5e6a29d83b457196bb3542f9cbdeb8.html" target="element"> SAMP-Registro (link) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6571bda9bf1f4a80a4683018237cfa1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6571bda9bf1f4a80a4683018237cfa1e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-34ac23fe04db46939ce2344b2ca9f3d5.html" target="element"> SAMP-Embarques </a> </td>
																		<td> <a href="../elements/id-7804720b62e943b8a353e2272ddb2dae.html" target="element"> SAMP-Ordenes de carga </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e0194f0f4580418883c209c1705abb10.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0194f0f4580418883c209c1705abb10.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-34ac23fe04db46939ce2344b2ca9f3d5.html" target="element"> SAMP-Embarques </a> </td>
																		<td> <a href="../elements/id-a9e1162cbf9e4cbe9d739cacc8af283e.html" target="element"> SAMP-Deuda de fabricaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-336c3d0b808d4855959ce6f34287b793.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-336c3d0b808d4855959ce6f34287b793.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-34ac23fe04db46939ce2344b2ca9f3d5.html" target="element"> SAMP-Embarques </a> </td>
																		<td> <a href="../elements/id-3b2ed4ad72a14166aa2f7ba96df79ae7.html" target="element"> SAMP-Pedidos de PT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eec7b9b7451449349f0453a58bb8c7c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eec7b9b7451449349f0453a58bb8c7c1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-34ac23fe04db46939ce2344b2ca9f3d5.html" target="element"> SAMP-Embarques </a> </td>
																		<td> <a href="../elements/id-7aed90bdc0174820be817288feaa54fd.html" target="element"> SAMP-Traspasos Interplantas </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b5476a0edffd4de28e499e89d081cfdd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5476a0edffd4de28e499e89d081cfdd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e2200b9c698b4214bbe9831ea83fd214.html" target="element"> SAMP-Produccion </a> </td>
																		<td> <a href="../elements/id-ed772963fa794698a70c95c3be7e79ea.html" target="element"> SAMP-Admon Produccion </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d7d3fcc75de64ce6a65882fef66a0f2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7d3fcc75de64ce6a65882fef66a0f2e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e2200b9c698b4214bbe9831ea83fd214.html" target="element"> SAMP-Produccion </a> </td>
																		<td> <a href="../elements/id-a3ff809d6ab941c1946d5998d712a64d.html" target="element"> SAMP-Cierre mensual </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0d70766172eb45b9917bed7cf26f45e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d70766172eb45b9917bed7cf26f45e8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-294a44502f064cb6aa0447c314834ff2.html" target="element"> SAMP-Inventarios </a> </td>
																		<td> <a href="../elements/id-ced3772373fc4ef1a20ff82d9a4ec2dc.html" target="element"> SAMP-Ajustes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ab1bc57acc35453dacb7c1edb58ffc96.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab1bc57acc35453dacb7c1edb58ffc96.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-294a44502f064cb6aa0447c314834ff2.html" target="element"> SAMP-Inventarios </a> </td>
																		<td> <a href="../elements/id-d7418bcfb19d42e5acc318e857cd7e6f.html" target="element"> SAMP-PEPS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0a06e12441e7449ca19c036fe5be3415.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a06e12441e7449ca19c036fe5be3415.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61d089dba7054328b00dc5831d9e5b6a.html" target="element"> SAMP-Pagos </a> </td>
																		<td> <a href="../elements/id-6a569df0d3c64761b8ea63a5c04c017f.html" target="element"> SAMP-Anticipos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a684e347d4b14885ba19aa9b9f204b60.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a684e347d4b14885ba19aa9b9f204b60.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61d089dba7054328b00dc5831d9e5b6a.html" target="element"> SAMP-Pagos </a> </td>
																		<td> <a href="../elements/id-7217ec7f3a4e4bd1803bd4506c5125f3.html" target="element"> SAMP-Pago automatico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d210b0b8e5949c28f28117dd22ad44e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d210b0b8e5949c28f28117dd22ad44e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-61d089dba7054328b00dc5831d9e5b6a.html" target="element"> SAMP-Pagos </a> </td>
																		<td> <a href="../elements/id-9e15d18ca224499ebe66bd59a0567aa9.html" target="element"> SAMP-Sobrepago </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6f0fa324e2474f83accbf4fda27f353a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f0fa324e2474f83accbf4fda27f353a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
																		<td> <a href="../elements/id-c3b03db5d83547c0b6f13d31a53d54eb.html" target="element"> SAMP-Precios Chatarra (link) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3bca4cd8d5364f55b64812ab80cd9931.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3bca4cd8d5364f55b64812ab80cd9931.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
																		<td> <a href="../elements/id-30b93f798047458d94497d4b77a88480.html" target="element"> SAMP-Micrositios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a340f5f3bb9642e3b913e7d7b97a408e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a340f5f3bb9642e3b913e7d7b97a408e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
																		<td> <a href="../elements/id-1f3e2f1197b949d99242f60093563e81.html" target="element"> SAMP-AMM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-134e7f517c40469a8ee4426b81ee651c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-134e7f517c40469a8ee4426b81ee651c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
																		<td> <a href="../elements/id-0d204d64aa66412a910083b00be231e1.html" target="element"> SAMP-Importacion MP (link) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-712f1bbe41bc4117a7cfab437670f6ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-712f1bbe41bc4117a7cfab437670f6ed.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
																		<td> <a href="../elements/id-b1afbf7c492d4b548b88ad1149bb1c4d.html" target="element"> SAMP-True Cost (link) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-776bd50ecd1f4980aaf88f5da09074a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-776bd50ecd1f4980aaf88f5da09074a1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
																		<td> <a href="../elements/id-779f11cdce834d56a6b557c311625f67.html" target="element"> SAMP-Utileris </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2623ef67f8684322bebb9be4c53de1b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2623ef67f8684322bebb9be4c53de1b4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
																		<td> <a href="../elements/id-08eaf2c291bc49f5b205e0d257495417.html" target="element"> SAMP-Avisor </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>