<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Materias Primas - Comunicacion de Aplicaciones</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Materias Primas - Comunicacion de Aplicaciones</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-16d5cc1701744459bb257eafdf8026b7.png" alt="Materias Primas - Comunicacion de Aplicaciones" usemap="#id-16d5cc1701744459bb257eafdf8026b7map"/>
			   <map name="id-16d5cc1701744459bb257eafdf8026b7map">
				  		<area shape="rect" coords="599,358,719,413" href="../elements/id-99213a8f446e42b5909c04e6cf654d0e.html"  target="element">
				  		<area shape="rect" coords="670,10,790,65" href="../elements/id-58f81d34eedc4c0f91b5cf0534f37f0d.html"  target="element">
				  		<area shape="rect" coords="406,76,526,131" href="../elements/id-6d559cc5e0ab4b9e8d61e84f8ca6a6fd.html"  target="element">
				  		<area shape="rect" coords="406,10,526,65" href="../elements/id-a1aa33e050474f0b96bdbdcac100dc49.html"  target="element">
				  		<area shape="rect" coords="274,10,394,65" href="../elements/id-d5771460307c4c56bc9f0e1417fecfb6.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/id-59625a30f3ff4dee8e00f4e16eed8158.html"  target="element">
				  		<area shape="rect" coords="538,10,658,65" href="../elements/id-55acbeba901b466caff31b4179feaf50.html"  target="element">
				  		<area shape="rect" coords="274,76,394,131" href="../elements/id-8b5c15dc3215483e9fc6e29f9eb9c0f1.html"  target="element">
				  		<area shape="rect" coords="142,10,262,65" href="../elements/id-c6d27b8e1b9445b185774efc4af9f325.html"  target="element">
				  		<area shape="rect" coords="215,358,335,413" href="../elements/id-fddf89712319492399e30b1346524ae8.html"  target="element">
				  		<area shape="rect" coords="215,478,335,563" href="../elements/id-8d1148317008456da8beb70bb30fef43.html"  target="element">
				  		<area shape="rect" coords="406,358,526,413" href="../elements/id-6600f5b7f5164cf3ae4a480d353f5b85.html"  target="element">
				  		<area shape="rect" coords="406,478,526,533" href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html"  target="element">
				  		<area shape="rect" coords="406,250,526,305" href="../elements/id-11f5e0890ad549bb986c71d9793737da.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-11f5e0890ad549bb986c71d9793737da.html" target="element"> SIMP </a> </td>
											    <td> <a href="../elements/id-11f5e0890ad549bb986c71d9793737da.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element"> SAMP-Abastecimiento de Materias Primas </a> </td>
											    <td> <a href="../elements/id-aa56fd3fc16e43f39eb0777f1fc0b6bb.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6600f5b7f5164cf3ae4a480d353f5b85.html" target="element"> APC-Administracion precios de chatarra </a> </td>
											    <td> <a href="../elements/id-6600f5b7f5164cf3ae4a480d353f5b85.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8d1148317008456da8beb70bb30fef43.html" target="element"> MPIM-Inteligencia de Mercado de MP </a> </td>
											    <td> <a href="../elements/id-8d1148317008456da8beb70bb30fef43.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fddf89712319492399e30b1346524ae8.html" target="element"> MPC </a> </td>
											    <td> <a href="../elements/id-fddf89712319492399e30b1346524ae8.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c6d27b8e1b9445b185774efc4af9f325.html" target="element"> Pre-Registro App </a> </td>
											    <td> <a href="../elements/id-c6d27b8e1b9445b185774efc4af9f325.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b5c15dc3215483e9fc6e29f9eb9c0f1.html" target="element"> Kiosko Registro  </a> </td>
											    <td> <a href="../elements/id-8b5c15dc3215483e9fc6e29f9eb9c0f1.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55acbeba901b466caff31b4179feaf50.html" target="element"> Clasificacion Patios </a> </td>
											    <td> <a href="../elements/id-55acbeba901b466caff31b4179feaf50.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-59625a30f3ff4dee8e00f4e16eed8158.html" target="element"> Citas Patios </a> </td>
											    <td> <a href="../elements/id-59625a30f3ff4dee8e00f4e16eed8158.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d5771460307c4c56bc9f0e1417fecfb6.html" target="element"> Registro App </a> </td>
											    <td> <a href="../elements/id-d5771460307c4c56bc9f0e1417fecfb6.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a1aa33e050474f0b96bdbdcac100dc49.html" target="element"> Bascula Camiones Patios </a> </td>
											    <td> <a href="../elements/id-a1aa33e050474f0b96bdbdcac100dc49.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d559cc5e0ab4b9e8d61e84f8ca6a6fd.html" target="element"> SAMP-Bascula patios (FFCC) </a> </td>
											    <td> <a href="../elements/id-6d559cc5e0ab4b9e8d61e84f8ca6a6fd.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-58f81d34eedc4c0f91b5cf0534f37f0d.html" target="element"> Descarga </a> </td>
											    <td> <a href="../elements/id-58f81d34eedc4c0f91b5cf0534f37f0d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-99213a8f446e42b5909c04e6cf654d0e.html" target="element"> PASC (Gestion de Patios Asociados) </a> </td>
											    <td> <a href="../elements/id-99213a8f446e42b5909c04e6cf654d0e.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>