<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Manufactura - Aplicaciones vs Localidad</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Manufactura - Aplicaciones vs Localidad</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-340dd00b6828487cb09554d6a90f404b.png" alt="Manufactura - Aplicaciones vs Localidad" usemap="#id-340dd00b6828487cb09554d6a90f404bmap"/>
			   <map name="id-340dd00b6828487cb09554d6a90f404bmap">
				  		<area shape="rect" coords="610,286,1163,515" href="../elements/id-70ee98ff1e73475ab5b14625abadbd58.html"  target="element">
				  				<area shape="rect" coords="298,430,418,485" href="../elements/id-9721d27cf0b24f2ab55cbad49bf79150.html"  target="element">

				  		<area shape="rect" coords="10,286,575,515" href="../elements/id-5531afb0d96147d6810accbe82a7e7fe.html"  target="element">
				  				<area shape="rect" coords="298,142,418,197" href="../elements/id-9721d27cf0b24f2ab55cbad49bf79150.html"  target="element">
				  				<area shape="rect" coords="430,142,550,197" href="../elements/id-20d0597a4102493aae99684afa967a9f.html"  target="element">
				  				<area shape="rect" coords="166,142,286,197" href="../elements/id-b6346171e1cd400c874e1af79e9cf3a7.html"  target="element">
				  				<area shape="rect" coords="34,142,154,197" href="../elements/id-bed6b9f65e744dc5a86928cb94ecab4f.html"  target="element">
				  				<area shape="rect" coords="430,46,550,101" href="../elements/id-3074a68a93bb4351a59f0b9edd96373e.html"  target="element">
				  				<area shape="rect" coords="298,46,418,101" href="../elements/id-650c8eb0011e4af5b40bd281d53e0e7c.html"  target="element">
				  				<area shape="rect" coords="166,46,286,101" href="../elements/id-a35d5be44b3644d290993b7773cf99b9.html"  target="element">
				  				<area shape="rect" coords="34,46,154,101" href="../elements/id-f84df99a38a646c7a130b5311234e5af.html"  target="element">

				  		<area shape="rect" coords="10,10,575,215" href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html"  target="element">
				  				<area shape="rect" coords="958,142,1078,197" href="../elements/id-9721d27cf0b24f2ab55cbad49bf79150.html"  target="element">
				  				<area shape="rect" coords="634,46,767,101" href="../elements/id-ad78eb5a56874d6f89385ec5e52188c9.html"  target="element">

				  		<area shape="rect" coords="610,10,1163,215" href="../elements/id-7bc8fb0c97dc4ad9bf0c1540000f3632.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-7bc8fb0c97dc4ad9bf0c1540000f3632.html" target="element"> Saltillo </a> </td>
											    <td> <a href="../elements/id-7bc8fb0c97dc4ad9bf0c1540000f3632.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ad78eb5a56874d6f89385ec5e52188c9.html" target="element"> TGR Danieli </a> </td>
													    <td> <a href="../elements/id-ad78eb5a56874d6f89385ec5e52188c9.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9721d27cf0b24f2ab55cbad49bf79150.html" target="element"> Equipos alto desempe&#241;o acerias (EAD) </a> </td>
													    <td> <a href="../elements/id-9721d27cf0b24f2ab55cbad49bf79150.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
											    <td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f84df99a38a646c7a130b5311234e5af.html" target="element"> ACE .NET </a> </td>
													    <td> <a href="../elements/id-f84df99a38a646c7a130b5311234e5af.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a35d5be44b3644d290993b7773cf99b9.html" target="element"> ACE WTool </a> </td>
													    <td> <a href="../elements/id-a35d5be44b3644d290993b7773cf99b9.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-650c8eb0011e4af5b40bd281d53e0e7c.html" target="element"> Energia (WTool) </a> </td>
													    <td> <a href="../elements/id-650c8eb0011e4af5b40bd281d53e0e7c.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3074a68a93bb4351a59f0b9edd96373e.html" target="element"> ACE-Taller de guias y rodillos (TGR) </a> </td>
													    <td> <a href="../elements/id-3074a68a93bb4351a59f0b9edd96373e.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bed6b9f65e744dc5a86928cb94ecab4f.html" target="element"> Cority (CORITY) </a> </td>
													    <td> <a href="../elements/id-bed6b9f65e744dc5a86928cb94ecab4f.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b6346171e1cd400c874e1af79e9cf3a7.html" target="element"> Extractores Manufactura </a> </td>
													    <td> <a href="../elements/id-b6346171e1cd400c874e1af79e9cf3a7.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-20d0597a4102493aae99684afa967a9f.html" target="element"> TGR App  </a> </td>
													    <td> <a href="../elements/id-20d0597a4102493aae99684afa967a9f.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9721d27cf0b24f2ab55cbad49bf79150.html" target="element"> Equipos alto desempe&#241;o acerias (EAD) </a> </td>
													    <td> <a href="../elements/id-9721d27cf0b24f2ab55cbad49bf79150.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5531afb0d96147d6810accbe82a7e7fe.html" target="element"> Ramos Arizpe </a> </td>
											    <td> <a href="../elements/id-5531afb0d96147d6810accbe82a7e7fe.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9721d27cf0b24f2ab55cbad49bf79150.html" target="element"> Equipos alto desempe&#241;o acerias (EAD) </a> </td>
													    <td> <a href="../elements/id-9721d27cf0b24f2ab55cbad49bf79150.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-70ee98ff1e73475ab5b14625abadbd58.html" target="element"> Oficinas Centrales </a> </td>
											    <td> <a href="../elements/id-70ee98ff1e73475ab5b14625abadbd58.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a7f83b88e0614399bd5ac5a62622b5b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7f83b88e0614399bd5ac5a62622b5b8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bc8fb0c97dc4ad9bf0c1540000f3632.html" target="element"> Saltillo </a> </td>
																		<td> <a href="../elements/id-ad78eb5a56874d6f89385ec5e52188c9.html" target="element"> TGR Danieli </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0f7badaa311c46d4b2c18b6e61a9f3c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f7badaa311c46d4b2c18b6e61a9f3c5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bc8fb0c97dc4ad9bf0c1540000f3632.html" target="element"> Saltillo </a> </td>
																		<td> <a href="../elements/id-9721d27cf0b24f2ab55cbad49bf79150.html" target="element"> Equipos alto desempe&#241;o acerias (EAD) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1c080da9149c481aa881d40495cc6741.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c080da9149c481aa881d40495cc6741.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
																		<td> <a href="../elements/id-f84df99a38a646c7a130b5311234e5af.html" target="element"> ACE .NET </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d34fe2ddc07f4ad4bef95362a764616b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d34fe2ddc07f4ad4bef95362a764616b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
																		<td> <a href="../elements/id-a35d5be44b3644d290993b7773cf99b9.html" target="element"> ACE WTool </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e78865190759487299a3f74f9a6faeaf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e78865190759487299a3f74f9a6faeaf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
																		<td> <a href="../elements/id-650c8eb0011e4af5b40bd281d53e0e7c.html" target="element"> Energia (WTool) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b12029f831f441868a106255856fb590.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b12029f831f441868a106255856fb590.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
																		<td> <a href="../elements/id-3074a68a93bb4351a59f0b9edd96373e.html" target="element"> ACE-Taller de guias y rodillos (TGR) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c64433970ee48fb9322830fe502ca34.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c64433970ee48fb9322830fe502ca34.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
																		<td> <a href="../elements/id-bed6b9f65e744dc5a86928cb94ecab4f.html" target="element"> Cority (CORITY) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e46955d2e9040fbae8ab7abf25b54e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e46955d2e9040fbae8ab7abf25b54e6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
																		<td> <a href="../elements/id-b6346171e1cd400c874e1af79e9cf3a7.html" target="element"> Extractores Manufactura </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ca7f72abdb84010ae01d63490a8011b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ca7f72abdb84010ae01d63490a8011b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
																		<td> <a href="../elements/id-20d0597a4102493aae99684afa967a9f.html" target="element"> TGR App  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-751e6883e1b24e0ea1f0c31602216e5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-751e6883e1b24e0ea1f0c31602216e5c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
																		<td> <a href="../elements/id-9721d27cf0b24f2ab55cbad49bf79150.html" target="element"> Equipos alto desempe&#241;o acerias (EAD) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c258c9efcdb8406eb1f14a8d8659b7df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c258c9efcdb8406eb1f14a8d8659b7df.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5531afb0d96147d6810accbe82a7e7fe.html" target="element"> Ramos Arizpe </a> </td>
																		<td> <a href="../elements/id-9721d27cf0b24f2ab55cbad49bf79150.html" target="element"> Equipos alto desempe&#241;o acerias (EAD) </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>