<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Analitica Manufactura - Computo en Red</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Analitica Manufactura - Computo en Red</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9f83cd912144429b954e587c4fa972c6.png" alt="Analitica Manufactura - Computo en Red" usemap="#id-9f83cd912144429b954e587c4fa972c6map"/>
			   <map name="id-9f83cd912144429b954e587c4fa972c6map">
				  				<area shape="rect" coords="1654,454,1774,509" href="../elements/id-2d6eaed53ddf411bb33862452a54c99b.html"  target="element">
				  				<area shape="rect" coords="1654,370,1774,425" href="../elements/id-445febef479e4244a362318a9c064458.html"  target="element">
				  				<area shape="rect" coords="1522,370,1642,425" href="../elements/id-4248afd812b8411cad9b3f2903bfc3ed.html"  target="element">
				  				<area shape="rect" coords="1390,370,1510,425" href="../elements/id-8f23dcad270d467baa8e694a5cce80a4.html"  target="element">
				  				<area shape="rect" coords="1258,370,1378,425" href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html"  target="element">
				  				<area shape="rect" coords="1258,454,1378,509" href="../elements/id-f84df99a38a646c7a130b5311234e5af.html"  target="element">
				  				<area shape="rect" coords="1390,454,1510,509" href="../elements/id-6dae37f9834041629f555843fb18f238.html"  target="element">

				  		<area shape="rect" coords="1234,262,1835,551" href="../elements/id-7bc8fb0c97dc4ad9bf0c1540000f3632.html"  target="element">
				  				<area shape="rect" coords="1041,454,1161,509" href="../elements/id-2d6eaed53ddf411bb33862452a54c99b.html"  target="element">
				  				<area shape="rect" coords="1041,370,1161,425" href="../elements/id-445febef479e4244a362318a9c064458.html"  target="element">
				  				<area shape="rect" coords="910,370,1030,425" href="../elements/id-4248afd812b8411cad9b3f2903bfc3ed.html"  target="element">
				  				<area shape="rect" coords="778,370,898,425" href="../elements/id-8f23dcad270d467baa8e694a5cce80a4.html"  target="element">
				  				<area shape="rect" coords="778,454,898,509" href="../elements/id-6dae37f9834041629f555843fb18f238.html"  target="element">
				  				<area shape="rect" coords="646,370,766,425" href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html"  target="element">
				  				<area shape="rect" coords="646,454,766,509" href="../elements/id-f84df99a38a646c7a130b5311234e5af.html"  target="element">

				  		<area shape="rect" coords="622,262,1223,551" href="../elements/id-5531afb0d96147d6810accbe82a7e7fe.html"  target="element">
				  				<area shape="rect" coords="430,442,550,497" href="../elements/id-2d6eaed53ddf411bb33862452a54c99b.html"  target="element">
				  				<area shape="rect" coords="430,370,550,425" href="../elements/id-445febef479e4244a362318a9c064458.html"  target="element">
				  				<area shape="rect" coords="298,370,418,425" href="../elements/id-4248afd812b8411cad9b3f2903bfc3ed.html"  target="element">
				  				<area shape="rect" coords="166,370,286,425" href="../elements/id-8f23dcad270d467baa8e694a5cce80a4.html"  target="element">
				  				<area shape="rect" coords="34,454,154,509" href="../elements/id-f84df99a38a646c7a130b5311234e5af.html"  target="element">
				  				<area shape="rect" coords="34,370,154,425" href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html"  target="element">
				  				<area shape="rect" coords="166,454,286,509" href="../elements/id-6dae37f9834041629f555843fb18f238.html"  target="element">

				  		<area shape="rect" coords="10,262,611,551" href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html"  target="element">
				  				<area shape="rect" coords="970,130,1090,185" href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html"  target="element">

				  		<area shape="rect" coords="622,10,1223,227" href="../elements/id-f33d720764a04dcea8e52c643a003056.html"  target="element">
				  				<area shape="rect" coords="442,94,562,149" href="../elements/id-bae8cf64e3c44344830f627adf4e2bfb.html"  target="element">
				  				<area shape="rect" coords="442,22,562,77" href="../elements/id-6dae37f9834041629f555843fb18f238.html"  target="element">
				  				<area shape="rect" coords="238,130,358,185" href="../elements/id-fedadde1969649ebac0ab3a9ee6be71f.html"  target="element">

				  		<area shape="rect" coords="10,10,611,227" href="../elements/id-70ee98ff1e73475ab5b14625abadbd58.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-70ee98ff1e73475ab5b14625abadbd58.html" target="element"> Oficinas Centrales </a> </td>
											    <td> <a href="../elements/id-70ee98ff1e73475ab5b14625abadbd58.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fedadde1969649ebac0ab3a9ee6be71f.html" target="element"> Acerias Reportes DB </a> </td>
													    <td> <a href="../elements/id-fedadde1969649ebac0ab3a9ee6be71f.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6dae37f9834041629f555843fb18f238.html" target="element"> Reporting Services </a> </td>
													    <td> <a href="../elements/id-6dae37f9834041629f555843fb18f238.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bae8cf64e3c44344830f627adf4e2bfb.html" target="element"> Tableau </a> </td>
													    <td> <a href="../elements/id-bae8cf64e3c44344830f627adf4e2bfb.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f33d720764a04dcea8e52c643a003056.html" target="element"> Google Cloud Platform </a> </td>
											    <td> <a href="../elements/id-f33d720764a04dcea8e52c643a003056.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
													    <td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
											    <td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6dae37f9834041629f555843fb18f238.html" target="element"> Reporting Services </a> </td>
													    <td> <a href="../elements/id-6dae37f9834041629f555843fb18f238.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element"> ACE DB </a> </td>
													    <td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f84df99a38a646c7a130b5311234e5af.html" target="element"> ACE .NET </a> </td>
													    <td> <a href="../elements/id-f84df99a38a646c7a130b5311234e5af.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8f23dcad270d467baa8e694a5cce80a4.html" target="element"> Manufactura DB </a> </td>
													    <td> <a href="../elements/id-8f23dcad270d467baa8e694a5cce80a4.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4248afd812b8411cad9b3f2903bfc3ed.html" target="element"> Compras DB </a> </td>
													    <td> <a href="../elements/id-4248afd812b8411cad9b3f2903bfc3ed.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-445febef479e4244a362318a9c064458.html" target="element"> Costos DB </a> </td>
													    <td> <a href="../elements/id-445febef479e4244a362318a9c064458.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2d6eaed53ddf411bb33862452a54c99b.html" target="element"> RH DB </a> </td>
													    <td> <a href="../elements/id-2d6eaed53ddf411bb33862452a54c99b.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5531afb0d96147d6810accbe82a7e7fe.html" target="element"> Ramos Arizpe </a> </td>
											    <td> <a href="../elements/id-5531afb0d96147d6810accbe82a7e7fe.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f84df99a38a646c7a130b5311234e5af.html" target="element"> ACE .NET </a> </td>
													    <td> <a href="../elements/id-f84df99a38a646c7a130b5311234e5af.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element"> ACE DB </a> </td>
													    <td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6dae37f9834041629f555843fb18f238.html" target="element"> Reporting Services </a> </td>
													    <td> <a href="../elements/id-6dae37f9834041629f555843fb18f238.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8f23dcad270d467baa8e694a5cce80a4.html" target="element"> Manufactura DB </a> </td>
													    <td> <a href="../elements/id-8f23dcad270d467baa8e694a5cce80a4.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4248afd812b8411cad9b3f2903bfc3ed.html" target="element"> Compras DB </a> </td>
													    <td> <a href="../elements/id-4248afd812b8411cad9b3f2903bfc3ed.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-445febef479e4244a362318a9c064458.html" target="element"> Costos DB </a> </td>
													    <td> <a href="../elements/id-445febef479e4244a362318a9c064458.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2d6eaed53ddf411bb33862452a54c99b.html" target="element"> RH DB </a> </td>
													    <td> <a href="../elements/id-2d6eaed53ddf411bb33862452a54c99b.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7bc8fb0c97dc4ad9bf0c1540000f3632.html" target="element"> Saltillo </a> </td>
											    <td> <a href="../elements/id-7bc8fb0c97dc4ad9bf0c1540000f3632.html" target="element" class="i18n-elementtype-Location">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6dae37f9834041629f555843fb18f238.html" target="element"> Reporting Services </a> </td>
													    <td> <a href="../elements/id-6dae37f9834041629f555843fb18f238.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f84df99a38a646c7a130b5311234e5af.html" target="element"> ACE .NET </a> </td>
													    <td> <a href="../elements/id-f84df99a38a646c7a130b5311234e5af.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element"> ACE DB </a> </td>
													    <td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8f23dcad270d467baa8e694a5cce80a4.html" target="element"> Manufactura DB </a> </td>
													    <td> <a href="../elements/id-8f23dcad270d467baa8e694a5cce80a4.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4248afd812b8411cad9b3f2903bfc3ed.html" target="element"> Compras DB </a> </td>
													    <td> <a href="../elements/id-4248afd812b8411cad9b3f2903bfc3ed.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-445febef479e4244a362318a9c064458.html" target="element"> Costos DB </a> </td>
													    <td> <a href="../elements/id-445febef479e4244a362318a9c064458.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2d6eaed53ddf411bb33862452a54c99b.html" target="element"> RH DB </a> </td>
													    <td> <a href="../elements/id-2d6eaed53ddf411bb33862452a54c99b.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-214079b8db3346f6a6c013ee5626a636.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-214079b8db3346f6a6c013ee5626a636.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70ee98ff1e73475ab5b14625abadbd58.html" target="element"> Oficinas Centrales </a> </td>
																		<td> <a href="../elements/id-fedadde1969649ebac0ab3a9ee6be71f.html" target="element"> Acerias Reportes DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f8341478b26149bcaf94fc2d15164e05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8341478b26149bcaf94fc2d15164e05.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70ee98ff1e73475ab5b14625abadbd58.html" target="element"> Oficinas Centrales </a> </td>
																		<td> <a href="../elements/id-6dae37f9834041629f555843fb18f238.html" target="element"> Reporting Services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-24f0d65878b34805956f141b9a83a500.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24f0d65878b34805956f141b9a83a500.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70ee98ff1e73475ab5b14625abadbd58.html" target="element"> Oficinas Centrales </a> </td>
																		<td> <a href="../elements/id-bae8cf64e3c44344830f627adf4e2bfb.html" target="element"> Tableau </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-aa6935d58b3c4da7b547045d3240c245.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aa6935d58b3c4da7b547045d3240c245.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6dae37f9834041629f555843fb18f238.html" target="element"> Reporting Services </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-85913f3703a34639a7c1b66958e2d7a0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-85913f3703a34639a7c1b66958e2d7a0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bae8cf64e3c44344830f627adf4e2bfb.html" target="element"> Tableau </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8281ce473a0746fda80200f8c82e2a35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8281ce473a0746fda80200f8c82e2a35.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f33d720764a04dcea8e52c643a003056.html" target="element"> Google Cloud Platform </a> </td>
																		<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f7921db28e1c45df8648436f4581f224.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7921db28e1c45df8648436f4581f224.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
																		<td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element"> ACE DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1c080da9149c481aa881d40495cc6741.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c080da9149c481aa881d40495cc6741.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
																		<td> <a href="../elements/id-f84df99a38a646c7a130b5311234e5af.html" target="element"> ACE .NET </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8be415e713c04678870040c2d17e90b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8be415e713c04678870040c2d17e90b2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
																		<td> <a href="../elements/id-6dae37f9834041629f555843fb18f238.html" target="element"> Reporting Services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4764ba5558834fe98ae5946865ff71f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4764ba5558834fe98ae5946865ff71f1.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
																		<td> <a href="../elements/id-8f23dcad270d467baa8e694a5cce80a4.html" target="element"> Manufactura DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d3eb9be93aae4d7b82bd5c95c5d9b24c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3eb9be93aae4d7b82bd5c95c5d9b24c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
																		<td> <a href="../elements/id-4248afd812b8411cad9b3f2903bfc3ed.html" target="element"> Compras DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-05bc4978ee6b472db423c5cc502c5e43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05bc4978ee6b472db423c5cc502c5e43.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
																		<td> <a href="../elements/id-445febef479e4244a362318a9c064458.html" target="element"> Costos DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf208b329ac446ef9bde768a16f669b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf208b329ac446ef9bde768a16f669b4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d72e3cb5dd89430bbffbd7ec171f2d6e.html" target="element"> Celaya </a> </td>
																		<td> <a href="../elements/id-2d6eaed53ddf411bb33862452a54c99b.html" target="element"> RH DB </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c200993e038b4e7cb5cb156d7585a252.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c200993e038b4e7cb5cb156d7585a252.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6dae37f9834041629f555843fb18f238.html" target="element"> Reporting Services </a> </td>
																				<td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element"> ACE DB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6ca9697a6aa84eba89e2e205aff69755.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6ca9697a6aa84eba89e2e205aff69755.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element"> ACE DB </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b8309e62702b4b8b80c54c9625c19887.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b8309e62702b4b8b80c54c9625c19887.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f84df99a38a646c7a130b5311234e5af.html" target="element"> ACE .NET </a> </td>
																				<td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element"> ACE DB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a7030c10450e43b09480d1516a3cd80f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a7030c10450e43b09480d1516a3cd80f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8f23dcad270d467baa8e694a5cce80a4.html" target="element"> Manufactura DB </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-63fde7455f0b46b0a3f873a4934e7df4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-63fde7455f0b46b0a3f873a4934e7df4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4248afd812b8411cad9b3f2903bfc3ed.html" target="element"> Compras DB </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-96cd8eb3853645c1a8e1cdd08775dd34.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-96cd8eb3853645c1a8e1cdd08775dd34.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-445febef479e4244a362318a9c064458.html" target="element"> Costos DB </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-109f4a383c234ccda03f9b95db71ed2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-109f4a383c234ccda03f9b95db71ed2d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2d6eaed53ddf411bb33862452a54c99b.html" target="element"> RH DB </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f002779534394c998bb32dc8f0485f11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f002779534394c998bb32dc8f0485f11.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5531afb0d96147d6810accbe82a7e7fe.html" target="element"> Ramos Arizpe </a> </td>
																		<td> <a href="../elements/id-2d6eaed53ddf411bb33862452a54c99b.html" target="element"> RH DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3b863c8285884754950ccf360c095efc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3b863c8285884754950ccf360c095efc.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5531afb0d96147d6810accbe82a7e7fe.html" target="element"> Ramos Arizpe </a> </td>
																		<td> <a href="../elements/id-445febef479e4244a362318a9c064458.html" target="element"> Costos DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29174380d2f745f5958ea523b267a1cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29174380d2f745f5958ea523b267a1cf.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5531afb0d96147d6810accbe82a7e7fe.html" target="element"> Ramos Arizpe </a> </td>
																		<td> <a href="../elements/id-4248afd812b8411cad9b3f2903bfc3ed.html" target="element"> Compras DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-050d90ec26d84292b0b2dc851c47bfa7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-050d90ec26d84292b0b2dc851c47bfa7.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5531afb0d96147d6810accbe82a7e7fe.html" target="element"> Ramos Arizpe </a> </td>
																		<td> <a href="../elements/id-8f23dcad270d467baa8e694a5cce80a4.html" target="element"> Manufactura DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-480f5716e0644ce28e062a5044be208b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-480f5716e0644ce28e062a5044be208b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5531afb0d96147d6810accbe82a7e7fe.html" target="element"> Ramos Arizpe </a> </td>
																		<td> <a href="../elements/id-6dae37f9834041629f555843fb18f238.html" target="element"> Reporting Services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dbfe77345fdd4dffaec7b29b078fdbc8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dbfe77345fdd4dffaec7b29b078fdbc8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5531afb0d96147d6810accbe82a7e7fe.html" target="element"> Ramos Arizpe </a> </td>
																		<td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element"> ACE DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc03840d75c8420d81f01df37288f3fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc03840d75c8420d81f01df37288f3fc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5531afb0d96147d6810accbe82a7e7fe.html" target="element"> Ramos Arizpe </a> </td>
																		<td> <a href="../elements/id-f84df99a38a646c7a130b5311234e5af.html" target="element"> ACE .NET </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b8309e62702b4b8b80c54c9625c19887.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b8309e62702b4b8b80c54c9625c19887.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f84df99a38a646c7a130b5311234e5af.html" target="element"> ACE .NET </a> </td>
																				<td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element"> ACE DB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6ca9697a6aa84eba89e2e205aff69755.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6ca9697a6aa84eba89e2e205aff69755.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element"> ACE DB </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c200993e038b4e7cb5cb156d7585a252.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c200993e038b4e7cb5cb156d7585a252.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6dae37f9834041629f555843fb18f238.html" target="element"> Reporting Services </a> </td>
																				<td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element"> ACE DB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a7030c10450e43b09480d1516a3cd80f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a7030c10450e43b09480d1516a3cd80f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8f23dcad270d467baa8e694a5cce80a4.html" target="element"> Manufactura DB </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-63fde7455f0b46b0a3f873a4934e7df4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-63fde7455f0b46b0a3f873a4934e7df4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4248afd812b8411cad9b3f2903bfc3ed.html" target="element"> Compras DB </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-96cd8eb3853645c1a8e1cdd08775dd34.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-96cd8eb3853645c1a8e1cdd08775dd34.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-445febef479e4244a362318a9c064458.html" target="element"> Costos DB </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-109f4a383c234ccda03f9b95db71ed2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-109f4a383c234ccda03f9b95db71ed2d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2d6eaed53ddf411bb33862452a54c99b.html" target="element"> RH DB </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7419ee8ce1524917b64dfc5f1cd58b7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7419ee8ce1524917b64dfc5f1cd58b7b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bc8fb0c97dc4ad9bf0c1540000f3632.html" target="element"> Saltillo </a> </td>
																		<td> <a href="../elements/id-6dae37f9834041629f555843fb18f238.html" target="element"> Reporting Services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0cffdd55e3eb4cdfa506c2e9af7f8529.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0cffdd55e3eb4cdfa506c2e9af7f8529.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bc8fb0c97dc4ad9bf0c1540000f3632.html" target="element"> Saltillo </a> </td>
																		<td> <a href="../elements/id-f84df99a38a646c7a130b5311234e5af.html" target="element"> ACE .NET </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d4d32344eaa64946b4a8395dbcc57ecc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4d32344eaa64946b4a8395dbcc57ecc.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bc8fb0c97dc4ad9bf0c1540000f3632.html" target="element"> Saltillo </a> </td>
																		<td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element"> ACE DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6e6a73e1edd14254b19161baeb6926f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e6a73e1edd14254b19161baeb6926f6.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bc8fb0c97dc4ad9bf0c1540000f3632.html" target="element"> Saltillo </a> </td>
																		<td> <a href="../elements/id-8f23dcad270d467baa8e694a5cce80a4.html" target="element"> Manufactura DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-93ae81b4de744735bf6db2544ee9b62f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93ae81b4de744735bf6db2544ee9b62f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bc8fb0c97dc4ad9bf0c1540000f3632.html" target="element"> Saltillo </a> </td>
																		<td> <a href="../elements/id-4248afd812b8411cad9b3f2903bfc3ed.html" target="element"> Compras DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d70adea881794ecdb50fafe8653daf07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d70adea881794ecdb50fafe8653daf07.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bc8fb0c97dc4ad9bf0c1540000f3632.html" target="element"> Saltillo </a> </td>
																		<td> <a href="../elements/id-2d6eaed53ddf411bb33862452a54c99b.html" target="element"> RH DB </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c200993e038b4e7cb5cb156d7585a252.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c200993e038b4e7cb5cb156d7585a252.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6dae37f9834041629f555843fb18f238.html" target="element"> Reporting Services </a> </td>
																				<td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element"> ACE DB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b8309e62702b4b8b80c54c9625c19887.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b8309e62702b4b8b80c54c9625c19887.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f84df99a38a646c7a130b5311234e5af.html" target="element"> ACE .NET </a> </td>
																				<td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element"> ACE DB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6ca9697a6aa84eba89e2e205aff69755.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6ca9697a6aa84eba89e2e205aff69755.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a1c0eab2bbdd4a7fa0e8034459c3e176.html" target="element"> ACE DB </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a7030c10450e43b09480d1516a3cd80f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a7030c10450e43b09480d1516a3cd80f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8f23dcad270d467baa8e694a5cce80a4.html" target="element"> Manufactura DB </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-63fde7455f0b46b0a3f873a4934e7df4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-63fde7455f0b46b0a3f873a4934e7df4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4248afd812b8411cad9b3f2903bfc3ed.html" target="element"> Compras DB </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-96cd8eb3853645c1a8e1cdd08775dd34.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-96cd8eb3853645c1a8e1cdd08775dd34.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-445febef479e4244a362318a9c064458.html" target="element"> Costos DB </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-109f4a383c234ccda03f9b95db71ed2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-109f4a383c234ccda03f9b95db71ed2d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2d6eaed53ddf411bb33862452a54c99b.html" target="element"> RH DB </a> </td>
																				<td> <a href="../elements/id-b9d3d6ad119648dabef4a236a1264400.html" target="element"> Data lake </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>