<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Manufactura - Applicacion vs Servidor</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Manufactura - Applicacion vs Servidor</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e6623f3f32e54eae96c7fd67e7b48e95.png" alt="Manufactura - Applicacion vs Servidor" usemap="#id-e6623f3f32e54eae96c7fd67e7b48e95map"/>
			   <map name="id-e6623f3f32e54eae96c7fd67e7b48e95map">
				  		<area shape="rect" coords="766,250,898,305" href="../elements/id-1096f07ce9d14fbb849b536ccce93915.html"  target="element">
				  		<area shape="rect" coords="538,334,670,389" href="../elements/id-8cfc746f037445d4b1de9a523d41b898.html"  target="element">
				  		<area shape="rect" coords="538,250,670,305" href="../elements/id-3d481123d9b84870a3085b6df7815ac1.html"  target="element">
				  		<area shape="rect" coords="382,250,514,305" href="../elements/id-1b39e836aad04aedaa269a7ab9cae24c.html"  target="element">
				  		<area shape="rect" coords="154,334,286,389" href="../elements/id-940bfebedf01440db8958caa7aefd519.html"  target="element">
				  		<area shape="rect" coords="154,250,286,305" href="../elements/id-133378735e4e44a9b17abc8fe7f1d29e.html"  target="element">
				  		<area shape="rect" coords="10,250,142,305" href="../elements/id-496c29fb9d644c4aaddcd419d8e772cd.html"  target="element">
				  		<area shape="rect" coords="766,10,898,65" href="../elements/id-0db31cca0bad45e18591701ac759a634.html"  target="element">
				  		<area shape="rect" coords="382,10,514,65" href="../elements/id-77b51e8e10dd47d7949cede8bf1766b3.html"  target="element">
				  		<area shape="rect" coords="382,154,514,209" href="../elements/id-1b8ddf4142004018b7a48ab4a7e01481.html"  target="element">
				  		<area shape="rect" coords="10,10,142,65" href="../elements/id-39a4dd9345664acfb18e6ebf1b33d7eb.html"  target="element">
				  		<area shape="rect" coords="154,154,286,209" href="../elements/id-c7b5bf3e0bc549f3ab9924e96c450af3.html"  target="element">
				  		<area shape="rect" coords="10,154,142,209" href="../elements/id-fabb4b54bd5740da8efe242d9eec1c77.html"  target="element">
				  		<area shape="rect" coords="538,478,670,533" href="../elements/id-8fe0e43edb604f0db3d17c8fb4172b4f.html"  target="element">
				  		<area shape="rect" coords="154,478,286,533" href="../elements/id-04ed6d7270224a7980651cc05b0fadb5.html"  target="element">
				  		<area shape="rect" coords="766,478,898,533" href="../elements/id-c08e86783c06480cb08e812075837b46.html"  target="element">
				  		<area shape="rect" coords="382,478,514,533" href="../elements/id-1f68b294b8034d3a868c60d0e359f15c.html"  target="element">
				  		<area shape="rect" coords="10,478,142,533" href="../elements/id-f55c25961bfb4ffd92a8eb4d180a0d95.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f55c25961bfb4ffd92a8eb4d180a0d95.html" target="element"> OPERCELDB </a> </td>
											    <td> <a href="../elements/id-f55c25961bfb4ffd92a8eb4d180a0d95.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1f68b294b8034d3a868c60d0e359f15c.html" target="element"> OPERRACDB </a> </td>
											    <td> <a href="../elements/id-1f68b294b8034d3a868c60d0e359f15c.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c08e86783c06480cb08e812075837b46.html" target="element"> OPERSALDB </a> </td>
											    <td> <a href="../elements/id-c08e86783c06480cb08e812075837b46.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-04ed6d7270224a7980651cc05b0fadb5.html" target="element"> OPERCELDB02 </a> </td>
											    <td> <a href="../elements/id-04ed6d7270224a7980651cc05b0fadb5.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8fe0e43edb604f0db3d17c8fb4172b4f.html" target="element"> OPERRACDB02 </a> </td>
											    <td> <a href="../elements/id-8fe0e43edb604f0db3d17c8fb4172b4f.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fabb4b54bd5740da8efe242d9eec1c77.html" target="element"> DEACELNET </a> </td>
											    <td> <a href="../elements/id-fabb4b54bd5740da8efe242d9eec1c77.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c7b5bf3e0bc549f3ab9924e96c450af3.html" target="element"> DEACELNET02 </a> </td>
											    <td> <a href="../elements/id-c7b5bf3e0bc549f3ab9924e96c450af3.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-39a4dd9345664acfb18e6ebf1b33d7eb.html" target="element"> DEACELODS </a> </td>
											    <td> <a href="../elements/id-39a4dd9345664acfb18e6ebf1b33d7eb.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1b8ddf4142004018b7a48ab4a7e01481.html" target="element"> DEARACNET01 </a> </td>
											    <td> <a href="../elements/id-1b8ddf4142004018b7a48ab4a7e01481.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-77b51e8e10dd47d7949cede8bf1766b3.html" target="element"> DEARACODS </a> </td>
											    <td> <a href="../elements/id-77b51e8e10dd47d7949cede8bf1766b3.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0db31cca0bad45e18591701ac759a634.html" target="element"> DEASALODS </a> </td>
											    <td> <a href="../elements/id-0db31cca0bad45e18591701ac759a634.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-496c29fb9d644c4aaddcd419d8e772cd.html" target="element"> APPCELNET </a> </td>
											    <td> <a href="../elements/id-496c29fb9d644c4aaddcd419d8e772cd.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-133378735e4e44a9b17abc8fe7f1d29e.html" target="element"> APPCELNET01 </a> </td>
											    <td> <a href="../elements/id-133378735e4e44a9b17abc8fe7f1d29e.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-940bfebedf01440db8958caa7aefd519.html" target="element"> APPCELHD </a> </td>
											    <td> <a href="../elements/id-940bfebedf01440db8958caa7aefd519.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1b39e836aad04aedaa269a7ab9cae24c.html" target="element"> APPRACNET </a> </td>
											    <td> <a href="../elements/id-1b39e836aad04aedaa269a7ab9cae24c.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3d481123d9b84870a3085b6df7815ac1.html" target="element"> APPRACNET01 </a> </td>
											    <td> <a href="../elements/id-3d481123d9b84870a3085b6df7815ac1.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8cfc746f037445d4b1de9a523d41b898.html" target="element"> APPRACHD </a> </td>
											    <td> <a href="../elements/id-8cfc746f037445d4b1de9a523d41b898.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1096f07ce9d14fbb849b536ccce93915.html" target="element"> APPSALNET01 </a> </td>
											    <td> <a href="../elements/id-1096f07ce9d14fbb849b536ccce93915.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>